@import "src/styles/mixins";

.exchange-detail {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  background-color: white;
  margin: 24px 24px 0 24px;
  padding: 24px;
  border-radius: 5px;

  @include when-device('medium') {
    margin: 100px auto auto;
    flex-direction: row;
    align-items: center;
  }

  img {
    height: 150px;
    border-radius: 50%;
  }

  &__logo {
    margin: auto;

    @include when-device('medium') {
      margin: 0;
    }
  }

  &__container {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__empty {
    font-size: 12px;
    font-style: italic;
    color: gray;
  }

  &__name {
    font-size: 24px;
    font-weight: bold;
    padding: 12px 0;

    @include when-device('medium') {
      padding: 24px 0;
    }
  }

  &__social {
    display: flex;
  }
  &__social-icon {
    cursor: pointer;
    padding: 0 8px;
    font-size: 18px;
  }
}
