@import "src/styles/mixins";

.exchange-card {
  transition: 0.3s;
  cursor: pointer;
  margin: 8px 12px;
  padding: 12px;
  display: flex;
  background-color: white;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;

  @include when-device('small') {
    height: 150px;
    margin: 12px;
    width: 300px;
  }

  @include when-device('x-small') {
    margin: 12px;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
  }

  &__url {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 8px;
  }

  &__country,
  &__trust {
    padding: 2px 0;
  }
}
