.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: 100px auto auto;


  &__title {
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
    font-family: monospace;
    text-align: center;
  }

  &__exchanges {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0 24px;
  }
}